:root {
    --background-color-box: #2d2d2d;
    --left-width: 20vw;
    --ceter-width: 60vw;
    --right-width: 20vw;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
 
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* Shared class attributes */
.border {
    border: 1px solid red;
}

.row-flex-box {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.col-flex-box {
    display: flex;
    flex-direction: column;
}

.height-70-vh {
    height: 70vh;
}

.height-10-vh {
    height: 10vh;
}

.height-5-vh {
    height: 5vh;
}
.right-flex {
    justify-content: end;
}
.center-text {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.center {
    justify-content: center;
    align-items: center; 
}
.truncate {
    white-space: nowrap; 
    overflow: hidden;        
    text-overflow:ellipsis; 
}

.interactive {
  border-radius: 8px;
  border: 1px solid transparent;
  display: flex;
  justify-content: left; 
  align-items: center; 
  cursor: pointer;
  transition: border-color 0.25s;
}
.interactive:hover {
    height: 2.5vh;
    border-color: #646cff;
    border-radius: 8px;
    background-color: #1a1a1a;
}
.italic {
    font-style: italic;
    color: var(--background-color-box);
}

.right-align {
    display: flex;
    justify-content: flex-start;
}

.icon-small {
    font-size: 3vh;
}

/* Customized class */

#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.body {
    height : 85vh;
}
.body-left {
    width : var(--left-width);
    height: 100vh;
    background-color: var(--background-color-box);
}

.body-center {
    width : var(--center-width);
    place-items: center;
    height: 100vh;
}

.body-right {
    width : var(--right-width);
    height: 20vh;

}
.history {
    width: calc(var(--left-width) * 0.95);
    height: 2vh;
    padding: 0.5em;
}

.history:focus, .history:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.homepage {
    display: flex;
    align-items: center;  
    justify-content: flex-end;

}

.homepage > span {
    margin-left: auto;
}
.growth-9-1 {
    width: var(--ceter-width);
    height: 5vh;
    flex-grow: 9;
}

textarea {
    flex: 9;
    min-height: 2vh;
    max-height: 20vh;
    border-radius: 5px;
    font-size: 1.8vh;
}


/* ----------------------------------------- */
@media (max-width: 768px) {
  .body-left {
    display: none; /* hide left section */
  }

  .body-center {
    width: 90%; /* take up most of the screen */
  }

  .body-right {
    width: 10%; /* small panel on right */
  }
}

